.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem img {
  width: 200px;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lowerSpace {
  padding-bottom: 100px;
}
