.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.productImage {
  width: 250px;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.productName {
  margin: 0;
  padding: 0;
}

.productPrize {
  margin-top: 0;
  padding: 0;
  color: rosybrown;
}
